json("theme.json")

[data-component="flash"]
  left 0
  position fixed
  right 0
  top 0

  .entry
    justify-content flex-end

    .message
      background black
      color white
      padding 0.5em

