json("theme.json")

$navigation-width = 140px

[data-component="site-navigation"]
  background-color black
  bottom 0
  left 0
  justify-content space-between
  outline none
  position absolute
  top 0
  width $navigation-width

  .list-group-item
    align-items center
    color gray-light
    cursor pointer
    display flex
    padding 13px 0
    padding-left 13px
    text-decoration none

    .item-label
      font-size 1.1em

    .accent
      margin-right 12px

    &:first-child
      padding-top 20px

    &:hover
      color white

  &:hover
    color text-color

.site-navigation-overlay
  display none
  position fixed
  left 0
  top 0
  right 0
  bottom 0

#content-container, [data-component="site-menu"]
  transition-duration 150ms
  transition-property transform
  transition-timing-function cubic-bezier(0.2, 0.3, 0.25, 0.9)

#content-container
  align-items center
  background white
  bottom 0
  flex 1 0 auto
  left 0
  overflow scroll
  padding-top 1em
  position absolute
  top 0
  width 100%
  z-index priority-medium

body.site-navigation-active
  height 100%
  overflow hidden

  .site-navigation-overlay
    display block
    left $navigation-width
    z-index priority-high

  #content-container, [data-component="site-menu"]
    transform translate3d($navigation-width, 0, 0)

