json("theme.json")
@import "~normalize.css/normalize.css"

$icon-font-name = "glyphicons-halflings-regular"
$icon-font-path = "//netdna.bootstrapcdn.com/bootstrap/3.3.2/fonts/"
@import "~bootstrap-styl/bootstrap/glyphicons.styl"

*, *:before, *:after
  box-sizing border-box

html, body
 height 100%

body
  background white

  cursor default

  color text-color
  font-family font-sans-serif
  font-size text-regular
  font-variant-ligatures common-ligatures
  line-height 1.45

  user-select none

a, .action
  color brand-primary
  text-decoration none

  &:hover
    cursor pointer
    text-decoration underlins

.mask
  display block
  visibility hidden

  position fixed
  top 0
  left 0
  z-index priority-medium

  width 100%
  height 100%

  body.disabled &
    visibility visible

main
  min-height: 100%

[data-component], header, section, aside, footer
  display flex
  flex-direction column
  align-items stretch
  flex-shrink 0

[data-selectable], [contenteditable]
  cursor text
  user-select text

::selection
  background brand-primary

::-moz-selection
  background brand-primary
