json("theme.json")

[data-component="save-state"]
  border-bottom 2px solid black

  &.unsaved
    border-bottom-color brand-warning

  &.saving
    border-bottom-color brand-primary

  &.saved
    border-bottom-color brand-success
