json("theme.json")

[data-component="save-state"]
  border-bottom 2px solid black

  &[data-state="unsaved"]
    border-bottom-color brand-warning

  &[data-state="saving"]
    border-bottom-color brand-primary

  &[data-state="saved"]
    border-bottom-color brand-success
